
/* reset all */
* {
  margin: 0;
  padding: 0;
}
/*-----------*/

/* Typselektoren */

body {
  margin: 8px;
  font-family: Verdana, sans-serif;
  min-width: 850px;
  background-color: #ffffef;
  font-size: 12px;
  margin-bottom: 130px;
  padding-bottom: 50px;
}

h1 {
  font-size: 58px;
  margin-top: 15px;
  color: #ffeb89;
}

h2{
  padding-bottom: 20px;
  padding-top: 20px;
}

label {
  width: 4em;
  margin: 0.1em;
  padding: 0;
}

fieldset {
  padding: 10px;
  margin: 10px;
  border: none;
}

fieldset div {
  padding: 2px;
}


/* 3. ID-Selektor  */

#page{
  position: relative;
  width: 100%;
  padding: 0;

  
}

#header h1 {
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-image: url('../img/header_bg.jpg');
  height: 29px;
  padding: 18px;
  margin: 3px;
  background-color: #70A8C3;
  color: #ffeb89;
  white-space: nowrap;
  overflow: hidden;
}

#page_content {
  position: static;
  margin-top: 40px;
 
}

#page_content_gruppen {
  position: static;
  margin-top: 40px;
  margin-left: 170px;
 
}

#page_konto{
  position:static;
  margin:10px;
  margin-right: 0px;
  margin-left: 170px;
  padding: 0px;	
}

#remes {
  position:static;
  margin:10px;
  margin-right: 0px;
  margin-left: 170px;
  padding: 0px;
}
  
  
#page_content .reme {
  background-image:url('../img/Postit_large.jpg');
  background-position:center; 
  float: left;
  max-width: 300px;
  max-height: 250px;
  min-width: 170px;
  min-height: 120px;
  background-color: #FFF53C;
  font-size: small;
  margin: 3px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  overflow: auto;
  
}


#remes li {
  border: 2px;
  display: block;
  clear:left;	
  background-color: #1c6cdd;
  border-radius: 5px;
}


#page_content .reme .title {
  font-size: medium;
  border-bottom-color: black;
  border-bottom: solid 1px;
  margin-bottom: 2px;
  margin-right: 30px;  
  float:left;
}

#page_content .reme .content {
  clear: left;
  float: left;	
}

#page_content .reme .remeEditField {
  padding: 3px;
  margin: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  clear: left;
  float: left;	  
  background-color: #FFF5AC;
  width: 95%;
  Display: block;
  
}
#page_content .reme .remeEditField .button{
  clear: left;
  float: left;	
}
#page_content .reme .remeEditField .tittleEdit{
  width: 90%;
  clear: left;
  float: left;	
}
#page_content .reme .remeEditField .contentEdit{
  width: 90%;
  clear: left;
  float: left;	
}

#page_content .reme .del{
  position: relative;
  
  right: 0px;
  top: 0px;
  text-align: right;
  text-decoration: none;
  float:right;
}

#page_content .reme .edit{
  position: relative;
  right: 0px;
  top: 0px;
  text-align: right;
  text-decoration: none;
  float:right;
}

#page_content .reme .remeEditField {
  display: none;	
}
#page_content .reme .X:hover{
  background-color: #ffffff;
}

#page_content .reme .content {
	font-size: small;	
}

#groups {
  display:block;
  position:fixed;
  overflow:scroll;
  margin-top: 10px;
  margin-left: 530px;
  width:150px;
  height:170px;
  padding: 0px;
  border: none;
  list-style-type: none;
  background-color: #23a2e9;
}


#controll{

  display:block;
  position:fixed;
  margin-top: 6px;
  margin-left: 3px;
  width:150px;
  padding: 5px;
  border: none;
  list-style-type: none;
  background-color: #1087eb;
  border-radius: 10px;
}
#newItems {
	width:145px;
	height: 60px;
	padding: 2px;	
}
#newItems div{
	width: 70px;
	float: left;
	margin-top: 5px;
	margin-left: 2px;

}

#newReme {
  height: 40px;	
}
#newGroup {
	height: 40px;
	width: 40px;	
}

#groups div {
  position: relative;
  right: 0px;
  top: 0px;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  float: left;
  margin: 2px;
  padding: 2px;
  border: solid 1px;

}

#groups .X{
  position: relative;
  text-decoration: none;
  background-color: #ffffff;
  float:right;
}

#popUp {
  position: fixed;
  bottom: 0;
  width: 400px;
  height: 21px;
  background-color: #1087eb;
  cursor: pointer;
  margin-left: 170px;
}

#openDiv {
  margin: 3px;
  margin-left: 20px;
  color: white;
  letter-spacing: 2px;
}


/* 4. Class-Selektoren */

.button{
  font-family: sans-serif;
  margin-left: 2px;
  padding: 1px 2px 1px 2px ;
  height: 25px;
}

/* 5. re:me Bearbeitung */

#reme_new {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#groups_new {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#reme_new_background {
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: rgba(64,64,64, 0.4);
}
#groups_new_background {
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: rgba(64,64,64, 0.4);	
}

#reme_input {
  position: relative;
  width: 360px;
  height: 400px;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -180px;
  background-color: #1087eb;
  border-radius: 7px;
  box-shadow: 10px 5px 2px rgba(0,0,0, 0.4);		
}

#user_input {
  position: relative;
  width: 360px;
  height: 400px;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -180px;
  background-color: #1087eb;
  border-radius: 7px;
  box-shadow: 10px 5px 2px rgba(0,0,0, 0.4);	
}

#remeForm {
  padding: 20px;
  position: center;		
}

#groupForm{
	padding: 20px;
	position: center;
}

#remeForm select, input, textarea{
    width: 195px;
    border-radius: 7px;
    padding: 2px;
    margin: 5px;
}

#groupForm select, input {
	width: 195px;
	border-radius: 7px;
	padding: 2px;
	margin: 5px;
}

#remetitle {
	width: 195px;	
}
#remeForm select, option {
    width: 195px;
}








/* 6. Navigation (Menu mit CSS) */

#navigation {
  width: 100%;
  position:static;
  float: left;
  padding-top: 10px;
  border: none;
  list-style-type: none;

}
#navigation ul {
  float: right;	
	
}
#navigation li {
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: inline;
  padding: 7px 15px;
  width: 102px;
  color: white;
  background-color: #1087eb;
}

#navigation li:hover {
  background-color: #04abf2;
}

#navigation li a {
  text-decoration: none;
  width: 102px;
  margin: 0;
  padding: 7px 15px;
  color: white;
  text-align: left;
}

#navigation li a:visited {
  color: #edffff
}


input {
	padding: 0.3em 0.3em;
	font-size: 12px;
	width: 100%;
	border-style: dashed;
	border-color: #e8c9a7;
	border-width: 2px;
	width: 195px;	
}

label {
	padding: 0.3em 0.3em;
	font-size: 12px;
	text-align: right;
}

input.but_board {
		background-color: #ffffef;
		width: 110px;
		margin-left: 5px;
		border-style: double;
		background-color: #e64901;
}

input.but_reme {
		background-color: #ffffef;
		width: 120px;
		border-style: double;
		background-color: #e64901;
}

input.butKonto {
		background-color: #e84535;
		width: 120px;
		margin-left: 15%;
		margin-right: 15%;
		border-style: double;
		
}
	

h1 {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, sans-serif;
	font-size: 35px;
	font-color: #fff797;
	text-decoration: none;
}

h2 {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, sans-serif;
	font-size: 20px;
	font-color: #fff797;
	text-decoration: none;
}

p.text{
	font-family: Verdana, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
}

p.text_w{
	font-family: Verdana, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	float: left;
	color: white;
}

p.title_small{
	font-family: Verdana, sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 3px;
}

p.title_reme{
	font-family: Verdana, sans-serif;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 1px;
}

p.title_small_w{
	font-family: Verdana, sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
	color: white;
	margin-left: 2px;
}

textarea {
  font-size: 12px;
}	
	
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  color: #ffffef;
}

#GroupUsers table td{
	background-color: #2a49d8;
	}	
	
#editGroups{
	margin-left: 350px;
	}
	
#GroupUsers{

	text-align: center;
	text-indent: 10px;
	width: 350px;
	float:left;
	}

#GroupUsers table{
	margin-top: 10px;
	}
	